<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Notes App{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark shadow-sm">

        <div class="container">

            <a class="navbar-brand"
               href="{{ url_for('home') }}">
                📝 Notes App
            </a>

            <div class="d-flex gap-2">

                <a href="{{ url_for('home') }}"
                   class="btn btn-outline-light btn-sm">
                    Home
                </a>

                <a href="{{ url_for('add_note') }}"
                   class="btn btn-light btn-sm">
                    + Add Note
                </a>

            </div>

        </div>

    </nav>

    <div class="container py-5 main-content">

        {% block body %}
        {% endblock %}

    </div>

    <footer class="footer">
        <small>
            © 2026 Notes App | Built with Flask & MySQL
        </small>
    </footer>

</body>
</html>